.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

.newsletter__content {
  border-top: 1px solid rgba(var(--color-foreground), 0.25);
  border-bottom: 1px solid rgba(var(--color-foreground), 0.25);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3.6rem 0;

  h2 {
    margin: 0 0 0.8rem;
  }
}

@media screen and (min-width: 750px) {
  .newsletter__content {
    flex-direction: row;
  }
}

.newsletter__content-block,
.newsletter__newsletter-block {
  flex: 1;
}

.newsletter__subheading {
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

@media screen and (max-width: 749px) {
  .newsletter__wrapper {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
